.caja-padre{
    width: 40rem;
    height: 45rem;;
    border: solid 0.3rem #262626;
    background-color:#D22678;
    margin-top: 15rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-padre_título{
    width: 25rem;
    height: 10rem;
    border: solid 0.3rem #262626;
    background-color: #0C1E80;
    margin-top: 5rem;
    margin-bottom: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario0{
    font-size: 5rem;
    color: #D3DDDC;
}

.comandos{
    width: 35rem;
    height: 10rem;

    display: flex;
}

.botonuno{
    width: 10rem;
    height: 5rem;
    border: solid 0.3rem #262626;
    background-color: #612998;
    margin: auto;
    margin-top: 0.2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
    color: #D3DDDC;
}

.botondos{
    width: 10rem;
    height: 5rem;
    border: solid 0.3rem #262626;
    background-color: #612998;
    margin: auto;
    margin-top: 0.2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.8rem;
    color: #D3DDDC;
}

#bt_user {
    width: 27rem;
    height: 5rem;
    border: solid 0.3rem #262626;
    background-color: #612998;
    font-size: 2rem;
    color: #D3DDDC;
    margin-bottom: 5rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
#bt_user:hover {
    background-color: #8948A6;
}
